.Top-Navigation{/* Top Naviagation */

    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;
    
    
    /* Frame 4 */
    }
.item navigation{
    
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    
    position: absolute;
    width: 258px;
    height: 40px;
    left: 1039px;
    top: 16px;
    
}
.frame1{
    
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    
    width: 86px;
    height: 40px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    
    
    /* Portfolio */
    
    width: 62px;
    height: 20px;
    
    /* Body / 3 - Bolder */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Neutrals/N600 */
    color: #344563;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    
    }
.frame2{
    /* Frame 3 */
    
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    
    width: 70px;
    height: 40px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
    
    /* About */
    
    width: 46px;
    height: 20px;
    
    /* Body / 3 - Bolder */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Neutrals/N600 */
    color: #344563;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    
    }
.frame3{
    /* Frame 5 */
    
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    
    width: 86px;
    height: 40px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    
    
    /* Contact */
    
    width: 62px;
    height: 20px;
    
    /* Body / 3 - Bolder */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Neutrals/N600 */
    color: #344563;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    
    position: absolute;
    width: 100px;
    height: 40px;
    left: 143px;
    top: calc(50% - 40px/2);
    
    
    width: 76px;
    height: 20px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Primary/B400 */
    color: #6070FF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    
    
}

